@import url('../../styles/section.less');

.toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.status-bar {
    height: 18px;
    margin-bottom: 2px;
}

.memo-list {
    flex: 1;
    width: 100%;
}

.empty-text {
    font-size: 14px;
    color: #888888;
    text-align: center;
    padding-top: 20px;
    line-height: 22px;
}

.memo-item {
    display: flex;
    flex-direction: column;
    padding: 6px 4px;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
}

.memo-content {
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
}

.memo-time {
    font-size: 12px;
    color: #888888;
    margin-top: 3px;
}
